.apwgr-main-service-container {
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  margin-left: 16%;
}



.apwgr-head h1 {
  color: #24757E;
}

.breadcrumb {
  margin-top: 20px;
}



.admin-add-service-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: auto;
}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
    color: #666;
}

.input-row-continer{
    padding: 50px;
    padding-top: 40px;
    border-radius: 6px;
    background-color: hsla(168, 7%, 73%, 0.459);
    /*margin-bottom: 30px;*/

    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/*new*/


.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group label {
    font-size: 15px;
    color: #000000;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}


/*end*/


.input-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.input-row input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.button-row {
    display: flex;
    justify-content:start;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.add-button,
.reset-button {
    width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.add-button {
    background-color: #158d93;
    color: white;
}

.add-button:hover {
    background-color: #11777e;
}

.reset-button {
    background-color: #158d93;
    color: white;
}

.reset-button:hover {
    background-color: #11777e;
}

.table-container {
    margin-top: 20px;
    max-height: 260px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.services-table {
    width: 100%;
    border-collapse: collapse;
}

.services-table th,
.services-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.services-table th {
    background-color: #f3f3f3;
}

.delete-button {
    padding: 5px 10px;
    background-color: #ff5c5c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #e04a4a;
}

.button-row .back-button {
    margin-top: 20px;
    display: block;
    padding: 10px 20px;
    background-color: #158d93;
    color: white;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.button-row .back-button:hover {
    background-color: #11777e;
}
